# User Resend Verification

```python
import requests

requests.get('https://api.madefire.com/api/reader/user/resend-verification/')
```

```shell
curl "https://api.madefire.com/api/reader/user/resend-verification/"
```

```javascript
```

> The above command returns JSON structured like this:

```json
{}
```

Allowed Methods: PUT, OPTIONS


